In [1]:
import pandas as pd

In [12]:
population_df = pd.read_csv('data/population.csv')
roads_network_df = pd.read_csv('data/roads_network.csv')
sample_submission_df = pd.read_csv('data/sample_submission.csv')
test_df = pd.read_csv('data/test.csv')
given_train_df = pd.read_csv('data/train.csv')

In [1]:
population_df.head()

NameError: name 'population_df' is not defined

In [7]:
roads_network_df.head()

,WKT,roadClassi,roadFuncti,formOfWay,length,primaryRou,distance to the nearest point on rd,postcode
0,POINT (-2.3501 56.603923),A Road,A Road,Single Carriageway,2643.0,1.0,1.256769,AB1
1,POINT (-2.021334 57.130142),A Road,A Road,Single Carriageway,2643.0,1.0,1.834101,AB1 9NN
2,POINT (-2.108598 57.146338),A Road,A Road,Single Carriageway,2643.0,1.0,1.830243,AB10 1UH
3,POINT (-2.093928 57.148218),A Road,A Road,Single Carriageway,2643.0,1.0,1.835092,AB10 1YL
4,POINT (-2.116089 57.131671),A Road,A Road,Single Carriageway,2643.0,1.0,1.814373,AB10 6AT

In [13]:
print(given_train_df.shape)
given_train_df.head()

(478741, 27)

,Accident_ID,Police_Force,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,...,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,state,postcode,country
0,1,34,2,1,19/12/12,7,13:20,344,E10000032,4,...,Daylight: Street light present,Fine without high winds,Dry,Ol or diesel,None,1,Yes,England,OX3 9UP,United Kingdom
1,2,5,2,1,02/11/12,4,7:53,102,E09000026,3,...,Daylight: Street light present,Raining without high winds,Dry,None,None,1,No,England,S35 4EZ,United Kingdom
2,3,1,2,1,02/11/12,4,16:00,531,E10000016,6,...,Daylight: Street light present,Fine without high winds,Dry,None,None,1,No,England,BN21 2XR,United Kingdom
3,4,1,1,1,06/05/12,1,16:50,7,E08000035,6,...,Daylight: Street light present,Fine without high winds,Dry,Roadworks,None,1,Yes,England,TA20 3PT,United Kingdom
4,5,46,1,1,30/06/12,3,13:25,519,E10000031,3,...,Daylight: Street light present,Fine without high winds,Dry,None,None,1,No,England,DN20 0QF,United Kingdom

In [14]:
given_train_df.columns

Index(['Accident_ID', 'Police_Force', 'Number_of_Vehicles',
       'Number_of_Casualties', 'Date', 'Day_of_Week', 'Time',
       'Local_Authority_(District)', 'Local_Authority_(Highway)',
       '1st_Road_Class', '1st_Road_Number', 'Road_Type', 'Speed_limit',
       '2nd_Road_Class', '2nd_Road_Number',
       'Pedestrian_Crossing-Human_Control',
       'Pedestrian_Crossing-Physical_Facilities', 'Light_Conditions',
       'Weather_Conditions', 'Road_Surface_Conditions',
       'Special_Conditions_at_Site', 'Carriageway_Hazards',
       'Urban_or_Rural_Area', 'Did_Police_Officer_Attend_Scene_of_Accident',
       'state', 'postcode', 'country'],
      dtype='object')

In [41]:
train_target_df = pd.DataFrame()
train_target_df['postcode'] = given_train_df['postcode'].unique()
train_target_df = train_target_df[['postcode']].merge(given_train_df.groupby('postcode').mean()['Number_of_Casualties'].rename("Accident_risk_index"), on = 'postcode')
train_target_df

       postcode  Accident_risk_index
0       OX3 9UP             1.833333
1       S35 4EZ             1.333333
2      BN21 2XR             1.333333
3      TA20 3PT             1.666667
4      DN20 0QF             1.500000
...         ...                  ...
95620  WS13 7LW             2.000000
95621  LE13 0PB             2.000000
95622  CF35 6EE             1.000000
95623  LS17 9JG             1.000000
95624  RM11 1JU             2.000000

[95625 rows x 2 columns]

In [82]:
population_df.head()
# Make all the values divided by the number of postcodes since the post codes are kind of shortened

,postcode,Rural Urban,Variable: All usual residents; measures: Value,Variable: Males; measures: Value,Variable: Females; measures: Value,Variable: Lives in a household; measures: Value,Variable: Lives in a communal establishment; measures: Value,Variable: Schoolchild or full-time student aged 4 and over at their non term-time address; measures: Value,Variable: Area (Hectares); measures: Value,Variable: Density (number of persons per hectare); measures: Value
0,AL1 1,Total,5453,2715,2738,5408,45,75,225.63,24.2
1,AL1 2,Total,6523,3183,3340,6418,105,77,286.59,22.8
2,AL1 3,Total,4179,2121,2058,4100,79,46,97.12,43.0
3,AL1 4,Total,9799,4845,4954,9765,34,285,244.75,40.0
4,AL1 5,Total,10226,5129,5097,10211,15,133,200.93,50.9

In [1]:
population_df[population_df['postcode'] == 'AL1 5']

NameError: name 'population_df' is not defined

In [2]:
train_target_df[train_target_df['postcode'].str.startswith('AL1 1')]

NameError: name 'train_target_df' is not defined

In [64]:
train_target_df.shape

(95625, 2)

In [99]:
train_target_df.to_feather('data/train_target.feather')

In [52]:
roads_network_df.head()

,WKT,roadClassi,roadFuncti,formOfWay,length,primaryRou,distance to the nearest point on rd,postcode
0,POINT (-2.3501 56.603923),A Road,A Road,Single Carriageway,2643.0,1.0,1.256769,AB1
1,POINT (-2.021334 57.130142),A Road,A Road,Single Carriageway,2643.0,1.0,1.834101,AB1 9NN
2,POINT (-2.108598 57.146338),A Road,A Road,Single Carriageway,2643.0,1.0,1.830243,AB10 1UH
3,POINT (-2.093928 57.148218),A Road,A Road,Single Carriageway,2643.0,1.0,1.835092,AB10 1YL
4,POINT (-2.116089 57.131671),A Road,A Road,Single Carriageway,2643.0,1.0,1.814373,AB10 6AT

In [94]:
print(roads_network_df.nunique())
print(roads_network_df['formOfWay'].unique())
roads_network_df['primaryRou'].unique()

WKT                                    75864
roadClassi                                 2
roadFuncti                                 2
formOfWay                                  5
length                                  1665
primaryRou                                 2
distance to the nearest point on rd    74641
postcode                               75895
dtype: int64
['Single Carriageway' 'Collapsed Dual Carriageway' 'Roundabout'
 'Dual Carriageway' 'Slip Road' nan]

array([ 1.,  0., nan])

In [92]:
roads_network_df[roads_network_df['postcode'].str.startswith('AL1 1')]
#categorical variables for each if present 1 like that
#min(length), max, avg for each pincode
#primaryRou OR, AND operation, like if any one of 1 is 1 and then if all of 1 is 1, otherwise 0
#distance to the nearest point on rd, min, max, avg  for each pincode

,WKT,roadClassi,roadFuncti,formOfWay,length,primaryRou,distance to the nearest point on rd,postcode
627,POINT (-0.31729 51.730908),A Road,A Road,Collapsed Dual Carriageway,462.0,1.0,0.000018,AL1 1DS
628,POINT (-0.314331 51.745433),A Road,A Road,Collapsed Dual Carriageway,462.0,1.0,0.014837,AL1 1HA
629,POINT (-0.322387 51.743822),A Road,A Road,Collapsed Dual Carriageway,240.0,1.0,0.012668,AL1 1JJ
630,POINT (-0.322387 51.743822),A Road,A Road,Collapsed Dual Carriageway,148.0,1.0,0.012668,AL1 1JJ
631,POINT (-0.278454 51.762466),A Road,A Road,Collapsed Dual Carriageway,731.0,1.0,0.021981,AL1 1JP
632,POINT (-0.278454 51.762466),A Road,A Road,Collapsed Dual Carriageway,143.0,1.0,0.021981,AL1 1JP
633,POINT (-0.337103 51.750146),A Road,A Road,Collapsed Dual Carriageway,1004.0,1.0,0.018577,AL1 1NG
634,POINT (-0.338041 51.749871),A Road,A Road,Dual Carriageway,93.0,1.0,0.018024,AL1 1NH
635,POINT (-0.334474 51.749155),A Road,A Road,Collapsed Dual Carriageway,1004.0,1.0,0.018289,AL1 1NX
636,POINT (-0.331916 51.747824),A Road,A Road,Collapsed Dual Carriageway,1004.0,1.0,0.017667,AL1 1PQ
637,POINT (-0.335682 51.747824),A Road,A Road,Collapsed Dual Carriageway,1004.0,1.0,0.016691,AL1 1QQ
638,POINT (-0.338086 51.748649),A Road,A Road,Dual Carriageway,93.0,1.0,0.016859,AL1 1RW
639,POINT (-0.31997 51.740262),A Road,A Road,Collapsed Dual Carriageway,148.0,1.0,0.009031,AL1 1TW

In [96]:
roads_network_df.groupby(['primaryRou']).count()

,WKT,roadClassi,roadFuncti,formOfWay,length,distance to the nearest point on rd,postcode
primaryRou,,,,,,,
0.0,24316,24316,24316,24316,24316,24316,24316
1.0,66036,66036,66036,66036,66036,66036,66036

def f(x):

    a = pd.Series([min(i) for i in x], index=x.index)
    b = pd.Series([max(i) for i in x], index=x.index)
    c = pd.Series([sum(i)/len(i) for i in x], index=x.index)
    return pd.concat([a,b,c], keys=('min','max','mean'))


cols = ['tempC','tempF','humidity']
df1 = df[cols].agg(f, axis=1).sort_index(axis=1, level=1)
df1.columns = df1.columns.map('_'.join)

df = df.join(df1)
print (df)

In [152]:
given_train_df.head()
#Police_Force Sum, min, max, average
#Number_of_Vehicles Sum, min, max, average
# Ratio of sum of above, avg of above
#Day of week have categories
#Time 3 categories split 8-8-8 12-8, >8-4, >4-12
#Local_Authority_(District)	Local_Authority_(Highway) Plot and see
#1st_Road_Class category
#1st_Road_Number (if present in top 10 accidents or not) #cut-off 100  (given_train_df['1st_Road_Number'].value_counts(sort=True) > 100).value_counts()
#Road_Type category count encode
#Speed_limit category count encode
#2nd_Road_Class category
#Pedestrian_Crossing-Human_Control category
#Pedestrian_Crossing-Physical_Facilities  category
#Light_Conditions category
#Weather_Conditions category
#Road_Surface_Conditions category
#Special_Conditions_at_Site category
#Carriageway_Hazards category
#Urban_or_Rural_Area category for this directly count encode
#Did_Police_Officer_Attend_Scene_of_Accident category count encode
#state category 

#2nd_Road_Number not needed
#country not needed

,Accident_ID,Police_Force,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,1st_Road_Number,Road_Type,Speed_limit,2nd_Road_Class,2nd_Road_Number,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,state,postcode,country
0,1,34,2,1,19/12/12,7,13:20,344,E10000032,4,395,Single carriageway,30,-1,0,None within 50 metres,No physical crossing within 50 meters,Daylight: Street light present,Fine without high winds,Dry,Ol or diesel,None,1,Yes,England,OX3 9UP,United Kingdom
1,2,5,2,1,02/11/12,4,7:53,102,E09000026,3,13,One way street,30,-1,0,None within 50 metres,No physical crossing within 50 meters,Daylight: Street light present,Raining without high winds,Dry,None,None,1,No,England,S35 4EZ,United Kingdom
2,3,1,2,1,02/11/12,4,16:00,531,E10000016,6,8,Roundabout,40,6,0,None within 50 metres,Zebra crossing,Daylight: Street light present,Fine without high winds,Dry,None,None,1,No,England,BN21 2XR,United Kingdom
3,4,1,1,1,06/05/12,1,16:50,7,E08000035,6,13,Single carriageway,30,6,0,None within 50 metres,No physical crossing within 50 meters,Daylight: Street light present,Fine without high winds,Dry,Roadworks,None,1,Yes,England,TA20 3PT,United Kingdom
4,5,46,1,1,30/06/12,3,13:25,519,E10000031,3,24,Dual carriageway,30,6,0,None within 50 metres,Zebra crossing,Daylight: Street light present,Fine without high winds,Dry,None,None,1,No,England,DN20 0QF,United Kingdom

In [138]:
given_train_df.shape

(478741, 27)

In [157]:
given_train_df['country'].value_counts(sort=True)

United Kingdom    478741
Name: country, dtype: int64

In [101]:
train_df = pd.DataFrame()
train_df['postcode'] = train_target_df['postcode'].copy()

In [103]:
test_df.head()

,Accident_ID,Police_Force,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,...,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,state,postcode,country
0,14,13,2,0,06/10/13,6,13:28,218,E10000032,4,...,Daylight: Street light present,Snowing without high winds,Dry,None,None,2,Yes,England,HX2 8WH,United Kingdom
1,17,13,2,0,22/04/13,7,9:30,157,E10000034,6,...,Daylight: Street light present,Fine without high winds,Dry,None,None,1,No,England,RM8 1DD,United Kingdom
2,21,13,2,0,27/09/13,3,19:10,155,E09000012,3,...,Daylight: Street light present,Fine without high winds,Wet/Damp,None,None,1,Yes,England,SE23 1NH,United Kingdom
3,23,13,2,0,13/03/13,4,9:19,26,E10000016,4,...,Daylight: Street light present,Fine without high winds,Dry,None,None,1,Yes,England,HU10 7QS,United Kingdom
4,28,14,2,0,13/06/13,1,14:59,6,E08000012,4,...,Daylight: Street light present,Fine without high winds,Dry,None,None,1,Yes,England,BD23 5JL,United Kingdom